<% provide(:title, "Provider Profiles") %>

<div class="center hero-unit">
<h1>SCCA Website Marketing</h1>
<p>Use these pages to supply the SCCA marketing group with up-to-date information about yourself and your work at SCCA. The information you provide here will then be loaded onto your profile page on the SCCA website. This process usually takes a couple of days.</p>

<%= link_to "AP Provider Form", new_approvider_path, class: "btn btn-large btn-primary" %>

<%= link_to "Physician Form", '#', class: "btn btn-large btn-primary" %>

</div>




